SECRET_KEY=django-insecure-change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,web

# Database (used by docker compose)
DB_NAME=medadhere
DB_USER=postgres
DB_PASSWORD=vedansh@#2004
DB_HOST=db
DB_PORT=5432

# Redis (used by docker compose)
REDIS_URL=redis://redis:6379/0

FIELD_ENCRYPTION_KEY=FTfj8PaRznG-EzZE15kykhzkSTm8KREcOLEC6pueCQY=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=
FCM_SERVER_KEY=
SENDGRID_API_KEY=
DEFAULT_FROM_EMAIL=noreply@medadhere.com
SENTRY_DSN=
